@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600;700&display=swap");
.p-head {
  padding-top: 300px;
  background-image: url("../img/bg2.jpg");
}

.p-head .text-container {
  display: block;
}

.p-head .text-container h2 {
  font-size: 3rem;
  font-weight: bold;
  color: #fff;
  margin: 0;
  line-height: 3rem;
}

.p-head .text-container p {
  font-size: 1.9rem;
  text-transform: none;
  color: #f9196d;
  margin-bottom: 20px;
  opacity: 1;
  font-weight: bold;
}

.p-head .text-container .det-parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.p-head .text-container .det-parent .det-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.p-head .text-container .det-parent .btn1 {
  -ms-flex-item-align: end;
      align-self: flex-end;
  height: 50px;
}

.p-head .text-container .det-parent .normal-txt {
  display: block;
  color: #fff;
  margin-bottom: 3px;
}

.p-head .cash-box {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
  position: relative;
  top: 8px;
}

.p-head .cash-box img {
  height: 25px;
}

.p-head .cash-box + .btn1 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-weight: bold;
  font-style: italic;
}

.p-sec .widget {
  margin-top: 30px;
}

.p-sec .p-container {
  background-color: #fff !important;
}

.p-sec .p-container table {
  width: 100%;
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.2rem;
}

.p-sec .p-container table td {
  padding: 8px 16px;
}

.p-sec .p-container p {
  color: #000;
  padding: 15px;
  margin: 0;
}


.multiselect-container {
  width: 100% !important;
}

