@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600;700&display=swap');

$c1: #f9196d;
$c2: #3c34f2;
$c3: #9627b4;
$c4: #0c112f;
$c4-light: #472b93;
$c5: #F0D21F;
$c6: #322090;
$c7: #4631A5;
$c8: #20125e;

$grd1: linear-gradient(135deg, rgba(165, 37, 169, 1) 0%, rgba(197, 33, 148, 1) 100%);