body {
    #open-left {
        border: none;
        background: none;
        position: static;
        height: auto;
        width: auto;

        img {
            height: 30px;
            width: 30px;
        }
    }

    .modal {
        z-index: 99999;
    }
}

@media(max-width: 1500px) {

    .newsbv-item {
        .newsb-thumbnail {
            width: 190px;
            padding-top: 190px;
        }

        .newsb-text {
            width: 100% !important;
        }
    }

    .newsbv-item.type-2 {

        .newsb-thumbnail {
            width: 30%;
            padding-top: 30%;
        }

        .newsb-text {
            width: 70%;
        }
    }

    .tournaments-games-grid li {
        width: 25%;
    }
}

@media(max-width: 1400px) {
    .p-head .new-profile {
        width: 95%;
    }

    .p-head .new-profile .det-right {
        width: 300px;
    }

    .profile-parent-page {
        margin: auto;
        max-width:1266px;

        .p-content {
            width: 100% !important;
        }
    }
}

@media(max-width: 1250px) {
    .profile-contain .friends-list.grid.type-2 li {
        width: 50%;
    }
}

@media(max-width: 1050px) {
    .profile-parent-page {
        flex-direction: column;

        .side-friends {
            width: 100%;
        }
    }

    .side-friends {
        height: auto !important;
    }
}

@media(max-width: 1150px) {
    nav .midlle {
        transition: 0.3s all;
    }

    body.search-opened {
        nav .midlle {
            padding-top: 85px;
        }
    }

    .page-container {
        padding-left: 3%;
        padding-right: 3%;
    }

    .p-head {
        padding-left: 3%;
        padding-right: 3%;
    }

    .tournament-details-header {
        width: 100%;

        .content {
            width: 100%;
        }
    }

    nav .top-nav .search-box button.close-btn {
        display: none;
    }

    nav .top-nav .search-box .results-box {
        top: 50px;
    }

    nav .top-nav .search-box {
        position: absolute;
        left: 0;
        right: 0;
        top: 60px;
        z-index: 8;
        width: 86%;
        margin: auto;
        max-width: 500px !important;
        height: 100%;
        // transition-delay: 0.3s;
    }

    nav .top-nav .col-md-6 {
        position: static;
    }

    // nav .top-nav .search-btn {
    //     display: none !important;
    // }

    nav .top-nav {
        .search-box {
            max-width: 100%;
        }
    }

    nav .top-nav .search-box .select2-container .select2-selection--single .select2-selection__rendered {
        padding-left: 8px;
        font-size: 0.8rem;
    }


    nav .top-nav .search-box .select2-container .select2-selection--single .select2-selection__arrow {
        background-color: #fff;
    }


}

@media(max-width: 991px) {
    .prizes-grid {
        max-height: unset !important;
        padding-left: 0;
        padding-right: 0;
        top: 0;
        overflow-y: visible;

        li {
            width: 50%;
            margin-bottom: 25px;

            .content {
                padding: 8px 0;

                .meta {
                    margin-top: 11px;

                    &>div {

                        span {
                            font-size: .85rem;
                        }

                        img {
                            height: 18px !important;
                        }
                    }
                }

                .name {
                    font-size: 1rem;
                }

            }
        }
    }

    .missions-section,
    #missions-modal {
        .modal-dialog {
            width: 100% !important;
        }

        .games-list {
            width: 100% !important;

            ul {
                height: auto !important;
                max-height: unset !important;
                overflow-y: visible !important;
                padding: 0 !important;
            }
        }
    }

    .p-head {
        .new-profile {
            flex-direction: column;

            .img {
                width: 120px;
                height: 120px;
                display: block;
                margin: auto;
                margin-bottom: 10px;
                display: inline-block;
            }

            .det-left {
                margin: 0;
                margin-bottom: 75px;
                align-self: center;
                width: 160px;
                text-align: center;

                .pro-img {
                    left: 0;
                    right: 0;
                }
            }

            .det-right {
                width: 100%;
                max-width: unset;
                text-align: center;
                justify-content: center;
            }
        }
    }

    .profile-contain {
        flex-direction: column;

        &:not(.profile-contain-friends) {
            max-height: unset;
            overflow-y: auto;
        }

        &>.right,
        &>.left {
            width: 100%;
        }
    }

    .p-head .new-profile .top-right {
        text-align: left;
    }
}

@media(max-width: 900px) {
    .featured-games {
        overflow-x: auto;
        justify-content: center;
        margin-bottom: 8px;

        img {
            width: 110px;
            height: 110px;
            border-width: 2px;
            margin: 0 15px;
            margin-bottom: 20px;
            margin-top: 13px;
        }

        .featured-item {
            width: auto;
        }
    }
}

@media (max-width: 770px) {

    .expand-parent.expanded .expand-box.expanded {

        .newsbv,
        .imgs-box {
            max-height: 400px !important;
        }
    }

    .grid-gal {
        width: 98%;
        margin: auto;
    }

    .profile-parent-page {
        width: 100%;
    }

    .page-box {
        padding-bottom: 0px;
    }

    .max-page-width {
        padding: 0;

        .text-container {
            min-height: 80vh;
        }
    }

    .tabs-section {
        padding: 0 !important;

        .summary .left {
            width: 100% !important;
        }

        .summary .right {
            width: 100% !important;
        }

        .summary .left {
            .row {
                margin-right: 0 !important;
                margin-left: 0 !important;
            }
        }
    }

    .missions-container {
        margin: 0 3% !important;


        .status-box {
            margin: 0 0 8px 0;

            .points,
            .timeline {
                display: flex;
                flex-direction: column;
                align-items: center;
                font-size: 0.95rem;

                img {
                    margin-bottom: 10px;
                    margin-right: 0;
                    height: 28px;
                }

                img:nth-last-child {
                    height: auto;
                }
            }
        }

        .profile-box {
            width: 100%;
            border-radius: revert;
            padding-bottom: 25px;

            .name-box {
                width: auto;
                padding-bottom: 25px;
                display: flex;
                flex-direction: column;

                .top {
                    font-size: 1.1rem;
                }
            }
        }

        .progress-box {
            padding-bottom: 0 !important;
        }

        .timer-box {
            padding: 20px !important;
        }

        ;
    }

    .missions-section {
        margin-top: 0 !important;

        .games-list {
            .left {
                padding-top: 20px;
            }
        }

        .timeline-box {
            width: 100%;

            .layer-2 {
                padding: 0 5px;
            }
        }
    }

    .infopage {
        width: 100%;
    }

    .page-box {
        padding-right: 0;
        padding-left: 0;
        padding-top: 180px !important;

        .page-title {
            font-size: 1.7rem !important;
            padding-left: 20px !important;
        }

        .text-container {
            padding-right: 20px;
            padding-left: 20px;
            padding-top: 20px;
            padding-bottom: 100px;
        }
    }

    .select-region {
        display: none !important;
    }

    .missions-section,
    #missions-modal {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    nav {
        padding-left: 0;
        padding-right: 0;
    }

    nav .midlle a img {
        height: 50px;
    }

    nav .top-nav .search-box {
        // top: 175px;
        width: 89%;

        input {
            font-size: 0.8rem;
        }
    }

    nav .top-nav .search-box .select2-container {
        width: 135px !important;
    }

    .profile-contain .friends-list.grid.type-2 li {
        width: 100%;
    }

    .tournament-details-header {
        .content {
            flex-direction: column;
            text-align: center;
            padding: 0px;
            padding-top: 15px;
        }

        .left {
            width: 100%;
            padding-right: 0;
            padding-top: 25px;

            .t-img {
                max-width: 150px;
                margin: auto;
            }
        }

        .date {
            margin-top: 15px;
            margin-bottom: 15px;
            line-height: 1.5;
            padding-left: 3%;
            padding-right: 3%;
        }

        .tabs-box {
            flex-wrap: wrap;

            li {
                &:nth-child(even) {
                    a {
                        border-right: none !important;
                    }
                }

                &:nth-child(1),
                &:nth-child(2) {
                    border-bottom: #fff 1px solid;
                }
            }
        }

        li {
            width: 50%;
        }
    }

    .missions-section,
    #missions-modal {
        .modal-content {

            .timeline-box {
                height: 70px !important;
            }
        }

    }

    .sec-2 .slid-parent .text-content {
        height: 55%;

        .t {
            font-size: 2vw;
        }

        p {
            font-size: 1.5vw;
        }
    }

    .hide-mobile {
        display: none !important;
    }

    .show-mobile {
        display: block !important;
        //margin-top: 134px !important;
    }

    .featured-title {
        margin-bottom: 30px;

        h3 {
            margin-bottom: 30px !important;
        }
    }

    .featured-games {
        overflow-x: auto;
        justify-content: unset;
    }

    .prizes-grid {
        max-height: unset !important;
        padding-left: 0;
        padding-right: 0;
        top: 0;
        overflow-y: visible;

        li {
            width: 100%;
            margin-bottom: 25px;

            .content {
                padding: 8px 0;

                .meta {
                    margin-top: 11px;

                    &>div {

                        span {
                            font-size: .85rem;
                        }

                        img {
                            height: 18px !important;
                        }
                    }
                }


                .name {
                    font-size: 1rem;

                }

            }
        }
    }

    .tournaments-games-grid li {
        width: 50%;
    }

    footer {
        .middle {
            justify-content: center !important;
            margin: 25px 0 !important;

            li {
                margin-bottom: 15px !important;
            }

        }

        .brand img {
            margin: auto !important;
            display: block;
        }

    }

    nav .top-nav {
        padding-left: 1%;
        padding-right: 1%;
    }

    nav .bottom-nav {
        padding-left: 3%;
        padding-right: 3%;
    }

    nav .midlle {
        padding-left: 3%;
        padding-right: 3%;
    }

    nav .bottom-nav ul {
        display: none;
    }

    nav .bottom-nav .nav-media {
        display: flex;
        width: 100%;
        padding: 15px;
        justify-content: space-around;
        background: linear-gradient(135deg, rgba(60, 52, 242, 1) 0%, rgba(150, 39, 180, 1) 100%);

    }

    nav .top-nav .row {
        display: flex !important;
        flex-direction: row !important;
        justify-content: space-between !important;
        flex-wrap: nowrap;
        align-items: center;

        .col-md-6 {
            padding: 0;
            width: auto !important;
        }
    }

    nav .top-nav .right .drop-nav,
    nav .top-nav .right>a {
        margin-left: 3px;
    }

    nav .top-nav .right select,
    nav .top-nav .right .drop-nav,
    nav .top-nav .right>a {
        padding-left: 15px;
        padding-right: 15px;
    }

    .redeem-packages {
        .pack {
            width: 50% !important;
        }
    }

    .redeem-table {
        padding-left: 0;
        padding-right: 0;

        table {
            display: block;

            thead {
                display: none;
            }

            tbody {
                width: 100%;
                display: block;
            }

            tr {
                width: 100%;
                display: flex;
                flex-direction: column;
                padding: 6px !important;

                td {
                    width: 100%;
                    display: block;

                    &.fit {
                        width: 100% !important;
                    }

                    &:first-child {
                        padding-top: 10px;
                    }

                    &:last-child {
                        padding-bottom: 10px;
                    }

                    .get-btn {
                        margin-top: 15px;
                    }

                    &.b-item {
                        &::after {
                            content: unset !important;
                        }
                    }
                }
            }
        }
    }

    .tour-details-box {
        flex-direction: column;

        .left2 {
            width: 100%;

            .t-img {
                width: 250px;
                display: block;
                margin: 25px auto;
            }
        }

        .date,
        .game,
        .name {
            text-align: center;
        }

        .date {
            margin-bottom: 25px;
        }
    }

    .det-mobile {
        display: flex !important;
    }

    .det-right:not(.det-mobile) {
        display: none !important;
    }

    .profile-contain-friends {
        padding-top: 0 !important;
    }

    .profile-contain .friends-list.grid {
        padding: 20px 10px 30px 10px;

        li {
            width: 100%;
            display: flex;
            padding: 20px 10px 40px 10px;

            .star-btn {
                right: 40px;
                top: 7px;
            }

            .left {
                display: inline-flex;

                .pro-img {
                    width: 100px;
                    height: auto;
                }

                .img {
                    width: 80px;
                    height: 80px;
                }

                .rank {
                    bottom: -16px
                }
            }

            .right2 .name {
                font-size: 1rem;
            }

            .right2 .ll {
                padding-bottom: 5px;
            }
        }
    }

    .pagination-top {
        width: 100%;
        flex-direction: column;
        margin-top: 0;
        background-color: #19125b;
        padding-top: 0;

        .hide-mobile {
            display: none;
        }

        &>div {
            width: 100%;
            margin-bottom: 5px;
            text-align: center;
            margin-top: 15px;
        }

        &>div:first-child {
            margin-top: 30px;
        }

        .search-box {
            text-align: left;

            input {
                width: 90%;
            }
        }
    }

    .sec-1 {
        padding-top: 240px;
        padding-left: 3%;
        padding-right: 3%;

        .text-container {
            padding-top: 120px;

            span {
                line-height: 1;
            }

            h2 {
                font-size: 1.3rem;
            }

            p {
                font-size: 2.5rem;
                line-height: 2.3rem;
            }
        }
    }

    .long-tabs {
        padding: 0 !important;
    }

    .upcoming-tournaments,
    .played-tournaments {
        // min-height: 60vh;
        padding-top: 10px;

        li {
            padding: 10px !important;
        }
    }

    .sec-2 {
        .slick-next {
            display: none !important;

        }

        .slick-prev {
            display: none !important;
        }
    }

    .sec-5 {
        padding: 0 !important;

        .isotopeItem {

            width: 100% !important;
            right: 0;
            margin: auto;

            img {
                width: 100%;
            }
        }
    }

    .sec-3 .page-container {
        padding: 0;
    }

    .sec-3 .newsbv-item {
        display: flex;
        position: relative;

        .newsb-thumbnail {
            width: 120px;
            padding-top: 120px;
        }

        .newsb-text {
            width: 100% !important;
            padding: 8px;
            padding-top: 4px;
            height: 120px;
            position: static;

            .desc {
                min-height: unset !important;

                p {
                    font-size: 0.8rem !important;
                }
            }

            .newsb-category-box {
                // left: 14px;
                right: 10px;
                // bottom: unset;
                // width: auto;
                // top: 105px;

                .newsb-category {
                    padding: 0;
                    margin: 0;
                    width: auto;
                }

                img {
                    width: 75px;
                }

                a {
                    // float: unset;
                    // padding: 5px 15px;
                    // width: 90px;
                    // border: 2px solid #fff;
                    // margin: 0;
                    display: none;
                }
            }
        }

    }

    footer {
        .row {
            flex-direction: column-reverse;
        }

        .right {
            img {
                margin-bottom: 55px !important;
                width: 50%;
                margin: auto;
                display: block;
            }
        }

        .bottom {
            text-align: center !important;

            .social {
                text-align: center !important;
                margin-bottom: 15px;
            }
        }
    }

    .accordion .card .card-header button {
        font-size: 1rem;
    }

    .page-box .page-title {
        font-size: 2.3rem;
    }

    .p-head .det-parent .det-left .img {
        width: 95px;
        height: 95px;
    }

    .p-head .tabs li a {
        font-size: .8rem;
        min-width: 85px;
        white-space: nowrap;
    }

    .p-head .det-parent .det-left {
        display: block;
    }

    .p-head .name {
        font-size: 1.2rem;
    }

    .friends-list li .name {
        font-size: 1.5rem;
        white-space: nowrap;
    }

    .friends-list li .right button,
    .friends-list li .right a {
        margin: 0 7px !important;
    }

    .friends-list li {
        display: block;
        padding: 15px;

        .location {
            margin-top: 2px;
        }

        .pro-img {
            width: 118px !important;
        }

        .left {
            .img {
                width: 99px !important;
                height: 83px !important;
            }

            .rank {
                bottom: -17px;
            }
        }
    }

    .friends-list li .left {
        justify-content: flex-start;

        .content {
            margin-left: 10px;
        }
    }

    .friends-list .right {
        text-align: center;
        margin-top: 10px;
    }

    .newsbv-item.type-2 .post-meta {
        white-space: nowrap;
    }

    .newsbv-item .newsb-title a {
        font-size: 1rem;
    }

    .newsbv .post-meta span {
        font-size: .7rem;
    }

    .newsbv .post-meta i {
        font-size: 14px !important;
    }

    .newsbv .post-meta span:first-of-type {
        margin-right: 3px;
        font-size: .8rem;
    }

    .btn2,
    .btn1 {
        font-size: .8rem;
    }

    .sec-1 {
        .text-container {
            .btn1 {
                font-size: 1.2rem;
            }
        }
    }

    .social-fixed {
        left: 0;
        right: 0;
        margin: auto;
        top: 26%;
        position: absolute;
        display: none;

        ul {
            display: flex;

            li {
                margin-right: 10px;
            }
        }
    }

    .det-parent {
        flex-direction: column-reverse !important;
        justify-content: center !important;
        align-items: center !important;

        .det-left {
            margin-top: 30px;

            .img {
                margin: auto !important;
            }

            .right {
                text-align: center;
            }
        }
    }

    .p-head .tabs li {
        margin: 0 1px;
    }

    .levels-slider-box .levels-slider .slick-next {
        right: -40px !important;
    }

    .levels-slider-box .levels-slider .slick-prev {
        left: -40px !important;
    }

    .credit-box {
        text-align: center;

        .text-right {
            text-align: center !important;
            margin-top: 40px;
        }
    }

    .newsbv-item.type-2 .newsb-text {
        padding-top: 0 !important;
    }

    .p-sec .p-container table tr {
        display: block;
        margin-bottom: 15px;
        padding: 10px 0;
    }

    .p-sec .p-container table td {
        padding: 0px 16px;
        display: block;
        padding-bottom: 0;
    }

    .profile-contain>.left {
        padding: 0 !important;

        .row {
            margin: 0 !important;
        }

        .body-wrapper {
            padding: 7px;
        }

        .imgs-box a {
            width: 33.33%;
        }

        .imgs-box {
            max-height: unset !important;
            min-height: unset !important;

            .stickers,
            .trophies {
                align-items: center;
                margin-bottom: 0 !important;

                img {
                    height: 90% !important;
                }
            }


        }
    }

    .newsbv-item.type-2 {
        padding: 10px;
    }
}

@media (max-width: 700px) {
    .sec-1 {
        background-image: url('/static/img/mobile_header.jpeg') !important;
    }
}

@media (max-width: 600px) {

    #notifications-popup {
        a {
            padding-left: 0 !important;
            padding-right: 0 !important;
            margin-left: 0 !important;
        }
    }

    .redeem-coins-wrapper {
        padding: 0 !important;
    }

    .redeem-coins {
        .sub-title {
            padding: 20px 0 0 !important;
        }

        .pack {
            padding: 0 0 20px !important;
            width: 100% !important;
        }

        .m-header h3 {
            font-size: 1.4rem !important;
        }
    }

    .my-coins-box {
        display: none !important;
    }

    .my-coins-box-mobile {
        display: block !important;
    }

    .page-box {
        .text-container {
            .content {
                width: 100%;
                padding: 0;
            }
        }
    }

    .expand-parent.expanded .expand-box.expanded {

        .newsbv li {
            width: 100%;
        }

        .imgs-box {

            .stickers,
            .trophies {
                height: auto !important;
                width: 33.33% !important;
                margin-bottom: 2px !important;
                padding: 0;
                padding-top: 33.33% !important;
                position: relative;
            }

            .game {
                height: auto !important;
                width: 33.33% !important;
                margin-bottom: 2px !important;
                padding: 0;
                position: relative;
            }
        }
    }

    .tournament-header {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }

    .missions-section .timeline-modals-box .drop-modal::after,
    #missions-modal .timeline-modals-box .drop-modal::after {
        content: unset;
    }

    .missions-section .divider {
        margin: auto 30px;
    }

    .public-profile {
        .tabs li {
            width: 33.33%;
        }
    }

    .prizes-sec {
        top: 0;
    }

    .p-head .new-profile {
        width: 100%;
    }

    .profile-contain {
        margin-top: 0 !important;
        padding-top: 20px;
        min-height: unset !important;
    }

    .profile-contain>.left {

        .body-wrapper {
            padding-left: 0;
            min-height: unset !important;
            height: auto !important;
        }

    }

    .timeline-box {
        .layer-2 {
            padding: 7px 15px;

            div {
                width: 100px;
            }
        }
    }

    .p-head {
        padding-top: 200px;

        &:before {
            background-color: rgba(0, 0, 0, 0.3);
        }

        .new-profile .top-right {
            padding: 15px;
            background-color: #19125b;

            .ll .location {
                margin-right: 0 !important;
            }
        }

        .new-profile .det-left .img {
            width: 180px;
            height: 180px;
            top: -12px;
        }

        .new-profile .det-left {
            margin-right: 0;
            width: 255px;

            .pro-img {
                width: 255px;
                height: 290px;
            }
        }

        .new-profile .det-left .edit-btn {
            width: 46px;
            height: 46px;
            top: -7px;
            right: 38px;
        }

        .rank {
            bottom: -44px;
            font-size: 28px;
            font-weight: normal;
        }

        .tabs li .link-item {
            font-size: 14px;
        }
    }

    .tour-details-box {
        padding: 0;
    }

    #summary-box {
        .page-container {
            padding: 0 !important;
        }
    }

    footer {
        .bottom {
            margin-top: 55px;
        }

        .brand {
            margin-top: 15px;

            img {
                width: 65%;
            }
        }
    }

    .leaderboards {
        margin-top: 60px;

        .box-title {
            line-height: 30px;
        }
    }

    .sec-3 {
        padding-bottom: 30px;
    }

    .sec-4 {
        margin-bottom: 30px;
    }

    .sec-5 {
        .isotopeMenu {
            padding: 0 !important;
            justify-content: center !important;

            li {
                margin: 0 4px !important;
            }

            a {
                padding: 20px 10px !important;
                letter-spacing: 1px;
                margin-right: 8px !important;
            }
        }
    }

    nav .notification-dropdown {
        position: static !important;
    }

    nav .notification-drop {
        width: 100%;
        right: 2px;

        li {
            padding-bottom: 1rem;

            p {
                padding-bottom: 0 !important;
            }
        }
    }

    nav .notification-btn {
        position: static !important;
    }

    nav .notification-drop::after {
        right: 110px;
    }


    .title-wrapper.with-tabs {
        display: flex;

        a.tab-link,
        h3.box-title {
            width: 100%;
            text-align: center;
            font-size: 14px;
            padding-left: 5px;
            padding-right: 5px;
        }
    }

    .sec-2 .slid-parent .text-content {
        .t {
            font-size: 5vw;
        }

        p {
            font-size: 4vw;
        }

    }

    #settings-modal,
    #support-modal,
    #contact-modal {
        padding: 0 !important;

        .form-box {
            padding-left: 10px !important;
            padding-right: 10px !important;
        }
    }

    .missions-section,
    #missions-modal {
        .profile-box {
            flex-direction: column;
            margin-top: 8px;
            padding-top: 40px;

            &>.left {
                width: 100%;
                flex-direction: column;

                .img-box {
                    display: block;
                    margin: auto;
                }

                .name-box {
                    margin: 15px 0;
                    margin-top: 30px;
                    justify-content: center;
                }
            }

            &>.right {
                width: 100%;
                text-align: center;

                .top {
                    justify-content: center;
                    padding: 5px;
                }
            }
        }

        .games-list {
            width: 100% !important;
            margin: 8px auto !important;

            ul {
                li {
                    flex-direction: column;
                    padding-top: 20px;
                    margin-bottom: 8px;
                    border-radius: revert;

                    &>.left,
                    &>.middle,
                    &>.right {
                        width: 100%;
                        text-align: center;

                        a {
                            position: static !important;
                        }

                        .timer-box {
                            margin-bottom: 0 !important;
                            display: inline-block;
                        }

                        .progress-box {
                            display: none;
                        }

                        .mobile-coins {
                            display: inline-block;
                        }
                    }
                }

                li:last-child {
                    margin-bottom: 35px;
                }
            }
        }
    }

    nav {
        .top-nav {
            .right {
                .n-nav {
                    padding: 0 9px !important;
                }
            }
        }
    }

    nav .top-nav {
        padding: 0;
        padding-left: 3%;
        padding-right: 3%;

    }

    nav .top-nav .left {
        padding: 0;
        padding-left: 3%;
    }

    nav .top-nav .left ul {
        display: none;
    }

    nav .top-nav .left #open-left {
        display: block;
    }

    nav .top-nav .right {
        width: 100%;

        select {
            display: none;
        }

        .drop-nav,
        a {
            b {
                display: none;
            }
        }

        .drop-box {
            left: 0;
            right: 0;
        }
    }

    .tour-details-box {
        .tabs-box {
            flex-wrap: wrap;

            li {
                width: 50%;
                font-size: .8rem;
            }
        }
    }

    .sec-3 .block_tabs .nav-tabs {

        overflow-x: auto;
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        padding-left: 0;
        padding-right: 0;
    }

    .sec-3 .newsbv-item .newsb-title {
        margin-bottom: 0;
        line-height: 1rem;

        a {
            font-size: 1.1rem;
            line-height: 1rem;
        }

    }

    .page-box .text-container h5 {
        font-size: 1.2rem;

    }

    .page-box .text-container p {

        font-size: 1rem;
    }

    .p-head {
        padding-left: 0;
        padding-right: 0;
        text-align: center;

        .new-profile .mobile-det-right {
            display: block !important;
        }

        .new-profile .det-right {
            padding-top: 12px;
            padding-bottom: 20px;
            display: none;

            .coins {
                text-align: left;
            }
        }
    }

    .block_tabs {
        .tab {
            .newsbv {
                li {
                    padding-right: 3px;
                    padding-left: 0;

                    .text-right {
                        a.btn2 {
                            margin-top: 12px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 500px) {

    .top-nav {
        .nav-my-profile {
            padding-left: 15px;
            padding-right: 15px;
        }
    }

    .grid-gal {
        .grid-item {
            width: 50%;
        }
    }

    .modal#login-modal .modal-body {
        padding: 10px;
        text-align: center;

        .text-right {
            text-align: center !important;
        }
    }

    .sec-3 .newsbv li .newsb-text {
        padding: 6px 8px;
        padding-right: 4px;
    }

    .sec-3 .newsbv .post-meta {
        margin-bottom: 0;
        margin-top: 5px;

        br {
            display: block;
            margin: 3px 0;
        }

        .newsbv .post-meta span {
            font-size: 0.7rem !important;
        }
    }

    .p-head .new-profile .tabs {
        flex-wrap: nowrap;

        li {
            width: 25% !important;
        }

        &.three-btns {
            li {
                width: 33.33% !important;
            }
        }
    }

    .nav-my-profile {
        span {
            display: none;
        }

        i {
            margin-right: 0 !important;
        }
    }
}

@media(max-width: 410px) {

    // .top-nav .right select {
    //     font-size: 0.6rem !important;
    // }

    // nav .top-nav .right a {
    //     font-size: 0.6rem !important;
    // }

    .sec-3 .block_tabs .nav-tabs li {
        text-align: center;
    }

    .sec-3 .block_tabs .nav-tabs li a {

        display: block;
    }
}