.paginate { display: flex; }
#demoB a {
  margin: 0 2px;
  text-decoration: none;
  cursor: pointer;
  padding: 0 6px!important;
  color: #756d8b !important;
  top: auto!important;
}

#demoB  a.current{
  color: #fff!important;  font-weight: bold;
  font-size: 1rem;
  line-height: 0.9rem;}