{% extends 'master.html' %}
{% load i18n %}
{% load static %}

{% block content %}
    <div class="page-box infopage">
        <div class="max-page-width">
            <div class="page-title">
                {% translate 'ENGAGE AND MORE' %}
            </div>
            <div class="text-container">
                <div class="content">
                    {{ operator.operatorwebsite.about_us_description|safe }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
