{% extends 'master.html' %}
{% load i18n %}

{% block content %}
    <div class="page-box infopage">
        <div class="max-page-width">
            <div class="page-title">
                {% translate 'FAQ' %}
            </div>

            <div class="text-container">
                <div class="content">
                    <div class="accordion" id="accordionFAQ">
                        {% for faq in operator.operatorfaq_set.all %}
                            <div class="card">
                                <div class="card-header"
                                     id="heading{{ faq.id }}">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link btn-block text-left"
                                                type="button"
                                                data-toggle="collapse"
                                                data-target="#collapse{{ faq.id }}"
                                                aria-expanded="false"
                                        >
                                            {{ faq.title }}
                                        </button>
                                    </h2>
                                </div>

                                <div id="collapse{{ faq.id }}"
                                     class="collapse"
                                     aria-labelledby="heading{{ faq.id }}"
                                     data-parent="#accordionFAQ">
                                    <div class="card-body">
                                        {{ faq.description|safe }}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}