{% extends 'master.html' %}
{% load i18n %}
{% load static %}

{% block content %}
    <div class="page-box infopage">
        <div class="max-page-width">
            <div class="page-title">
                {% translate 'Privacy Policy' %}
            </div>
            <div class="text-container">
                <div class="content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Mauris malesuada odio tellus, sit amet efficitur augue
                        pellentesque id. Donec mollis neque a arcu vestibulum,
                        ac posuere odio tincidunt. Donec malesuada hendrerit
                        tincidunt. Donec commodo ante nisl, ut euismod orci
                        iaculis vitae. Donec elementum in augue vitae volutpat.
                        Aenean lectus est, pellentesque vel enim et, porta
                        consequat urna. In sed quam vel ex fringilla imperdiet.
                        Phasellus luctus rutrum hendrerit. Donec mattis
                        fringilla augue eget congue. Ut vel ullamcorper eros,
                        nec laoreet nisi. Maecenas convallis tortor odio, sit
                        amet tincidunt nisi semper pharetra.</p>

                    <p>Curabitur arcu nunc, laoreet et ligula in, volutpat
                        aliquet est. Nam auctor, mi ac sodales venenatis, massa
                        diam volutpat lectus, a fermentum massa nunc sed libero.
                        Quisque ut rutrum odio. Curabitur ex ipsum, volutpat non
                        magna quis, euismod pharetra ex. Etiam eget metus id
                        nisi tristique ullamcorper ornare ut quam. Suspendisse
                        quis nunc faucibus, pretium arcu ut, aliquet massa.
                        Etiam in tortor quis justo commodo pellentesque sit amet
                        ut odio. Vivamus pellentesque porttitor mauris, non
                        rhoncus ex lacinia ut. In facilisis vulputate purus id
                        imperdiet. Aliquam sit amet porta sem, quis tempus
                        eros.</p>

                    <p>Maecenas nec felis ac sem maximus vehicula ac in nibh.
                        Nunc ac vulputate tortor. Proin faucibus accumsan mi
                        vitae egestas. Proin fringilla malesuada imperdiet. Nunc
                        ornare risus magna, a ultrices arcu vehicula id. Nam
                        condimentum erat enim, sed consequat neque hendrerit in.
                        Suspendisse iaculis et turpis at laoreet.</p>

                    <p>Proin lacinia lorem quis odio accumsan volutpat.
                        Pellentesque ex felis, semper eu congue a, ornare sed
                        mauris. Sed porta est eu euismod gravida. In posuere
                        nunc non turpis sagittis, vitae aliquam nulla
                        scelerisque. Quisque lacus metus, interdum in tincidunt
                        vitae, condimentum sit amet neque. Nullam lacinia erat
                        sagittis mollis dapibus. Etiam elementum nisi sed est
                        egestas, sodales gravida sapien ornare. In quam dolor,
                        ornare vitae arcu id, gravida convallis libero.
                        Curabitur eu neque et magna aliquam facilisis vel ut mi.
                        Duis ut risus sed sem vehicula porta. Sed maximus nulla
                        sit amet nulla consequat, quis eleifend ante congue.
                        Quisque eget nibh in nulla condimentum efficitur in
                        sodales erat. In eget nisi et ligula accumsan bibendum
                        et vel ante. Nam fringilla mauris in urna condimentum
                        ultrices et eget turpis.</p>

                    <p>Vivamus placerat urna sit amet arcu molestie, sit amet
                        viverra lorem interdum. Vivamus eu libero elit. Sed id
                        ultricies purus. Praesent tincidunt a enim at sodales.
                        Quisque eleifend massa id efficitur tempus. Orci varius
                        natoque penatibus et magnis dis parturient montes,
                        nascetur ridiculus mus. Integer iaculis auctor massa
                        vitae tempor. Nam at ipsum molestie, auctor lorem sit
                        amet, pretium tellus. Pellentesque a porttitor neque.
                        Praesent eget quam sed neque dapibus sagittis. Nulla
                        facilisi. Maecenas fermentum aliquet felis, eget
                        ultricies velit convallis in.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
