{% extends 'master.html' %}
{% load i18n %}
{% load static %}
{% load humanize %}

{% block javascript %}
    <script>
        var redeem_package_url = "{% url 'orders-redeem-package' %}";
        var buy_coins_url = "{% url 'orders-buy-coins' %}";
    </script>
    <script src="{% static 'js/pages/prizes.js' %}?v=6"></script>
{% endblock %}

{% block top_section %}
    <div class="img-header">
        <img class="hide-mobile" src="{% static 'img/prize-header.jpg' %}"
             alt="">
        <img class="show-mobile"
             src="{% static 'img/mobile-prizes-header.jpeg' %}" alt="">
    </div>
{% endblock %}

{% block content %}
    <section id="sec-3" class="sec-3 prizes-sec">
        <div class="page-container">
            <div class="row">
                <div class="col-sm-12" id="prizes_page">
                    <div class="title-wrapper c2 with-tabs tabs-container max-page-width with-side-info">
                        <a id="tournaments" data-id="#prize-1"
                           data-group=".group-0" class="tab-link prize-1-btn">{% translate 'Tournaments Prizes' %}</a>
                        <a id="coins" data-id="#prize-2" data-group=".group-0"
                           class="tab-link prize-2-btn">{% translate 'Redeem Coins' %}</a>

                        {% if user.is_authenticated %}
                            <div class="my-coins-box">
                                <img src="{% static 'img/coin-0.png' %}" alt="">
                                {% blocktranslate with coins=user.coins|intcomma %}<span>Your Engage Coins balance is <span class="user-coins">{{ coins }}</span></span>{% endblocktranslate %}
                            </div>
                        {% endif %}
                    </div>

                    <div class="news_horizontal_tabbed max-page-width">
                        <div class="block_tabs tab-inner" id="prize-1"
                             style="display: none;">
                            <ul class="nav nav-tabs">
                                <li class="">
                                    <a onclick="return getPrizes('subscribe','', '#prize-grid-1', this)"
                                       class="button-small">{% translate 'ALL PRIZES' %}</a>
                                </li>
                                <li class="">
                                    <a onclick="return getPrizes('subscribe','cash', '#prize-grid-1', this)"
                                       class="button-small">{% translate 'CASH' %}</a>
                                </li>
                                <li class="">
                                    <a onclick="return getPrizes('subscribe','tickets', '#prize-grid-1', this)"
                                       class="button-small">{% translate 'TICKETS' %}</a>
                                </li>
                                <li class="">
                                    <a onclick="return getPrizes('subscribe','data', '#prize-grid-1', this)"
                                       class="button-small">{% translate 'DATA' %}</a>
                                </li>
                            </ul>
                            <ul class="prizes-grid" id="prize-grid-1"
                                data-scroll-max="3" data-scroll-child="li" style='background:#fff;'>

                            </ul>
                        </div>

                        <div class="tab-inner block_tabs" id="prize-2"
                             style="display: none;">
                            {% comment %} <ul class="nav nav-tabs">
                                <li class="">
                                    <a class="button-small active">REDEEM
                                        COINS</a>
                                </li>
                                <li class="">
                                    <a class="button-small buy-btn">{% translate 'BUY ENGAGE COINS' %}</a>
                                </li>
                            </ul> {% endcomment %}

                            <div class="redeem-coins-wrapper" id="redeem-coins">
                                <div class="redeem-coins static-box">
                                    <div class="modal-content">
                                        {% if user.is_authenticated %}
                                            <div class="my-coins-box-mobile">
                                                <img src="{% static 'img/coin-0.png' %}"
                                                     alt="">
                                                {% blocktranslate with coins=user.coins|intcomma %}<span>Your Engage Coins balance is <span class="user-coins">{{ coins }}</span></span>{% endblocktranslate %}
                                            </div>
                                        {% endif %}
                                        <h4 class="sub-title">Every time you win
                                            coins, your balance increases. You
                                            can Redeem your coins
                                            for the below gifts.
                                            <br>We will constantly update and
                                            add new gifts.</h4>
                                        <div class="modal-body">
                                            <div class="redeem-packages">
                                                {% for redeem_package in redeem_packages %}
                                                    <div class="pack">
                                                        {% if user.is_authenticated %}
                                                        <a
                                                           data-toggle="modal"
                                                           data-target="#redeem-modal"
                                                           data-package-id="{{ redeem_package.id }}"
                                                           data-package-amount="{{ redeem_package.coins }}"
                                                           class="pack_a"
                                                        >
                                                        {% else %}
                                                        <a
                                                           data-toggle="modal"
                                                           data-target="#login-modal"
                                                           data-package-id="{{ redeem_package.id }}"
                                                           data-package-amount="{{ redeem_package.coins }}"
                                                           class="pack_a"
                                                        >
                                                        {% endif %}
                                                            <img src="{{ redeem_package.image.url }}"
                                                                 alt="">
                                                            <div class="content">
                                                                <span class="t">{{ redeem_package.title }}</span>
                                                                <span class="d">{% blocktranslate with coins=redeem_package.coins|intcomma %}Engage Coins required: {{ coins }}{% endblocktranslate %}</span>
                                                            </div>
                                                        </a>
                                                    </div>
                                                {% endfor %}
                                            </div>

                                            {% comment %} <div class="m-header">
                                                <h3>{% translate 'BUY ENGAGE COINS' %}</h3>
                                            </div>

                                            <div class="redeem-table"
                                                 id="buy-section">
                                                <table>
                                                    <thead>
                                                    <tr>
                                                        <th></th>
                                                        <th></th>
                                                        <th></th>
                                                        <th class="bonus-th">
                                                            {% translate 'Bonus' %}
                                                        </th>
                                                        <th></th>
                                                        <th></th>
                                                        <th></th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for purchase_coin in purchase_coins %}
                                                        <tr>
                                                            <td class="fit">
                                                                <img src="{{ purchase_coin.icon.url }}"
                                                                     alt="">
                                                            </td>
                                                            <td>{{ purchase_coin.coins|intcomma }}</td>
                                                            <td class="c1 min-50">
                                                                +
                                                            </td>
                                                            <td class="b-item">{{ purchase_coin.bonus }}%</td>
                                                            <td class="c1 min-50">
                                                                =
                                                            </td>
                                                            <td>
                                                                <img src="{% static 'img/coin.png' %}"
                                                                     height="32"
                                                                     alt="">&nbsp;{{ purchase_coin.total|intcomma }}
                                                            </td>
                                                            <td>
                                                                {% if user.is_authenticated %}
                                                                <a class="get-btn"
                                                                href="#"
                                                                data-toggle="modal"
                                                                data-target="#buy-coins-modal"
                                                                data-purchase-id="{{ purchase_coin.id }}"
                                                                data-purchase-amount="{{ purchase_coin.total }}"
                                                             >
                                                                 <span>{% translate 'BUY NOW' %}</span>
                                                                 <span>{{ purchase_coin.operator.region.default_currency }}{{ purchase_coin.price|intcomma }}</span>
                                                             </a>
                                                                {% else %}
                                                                <a class="get-btn"
                                                                href="#"
                                                                data-toggle="modal"
                                                                data-target="#login-modal"
                                                                data-purchase-id="{{ purchase_coin.id }}"
                                                                data-purchase-amount="{{ purchase_coin.total }}"
                                                             >
                                                                 <span>{% translate 'BUY NOW' %}</span>
                                                                 <span>{{ purchase_coin.operator.region.default_currency }}{{ purchase_coin.price|intcomma }}</span>
                                                             </a>
                                                                {% endif %}
                                    
                                                                
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div> {% endcomment %}
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block modals %}
    {{ block.super }}

    <div id="redeem-modal" class="modal fade">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="close-box">
                    <a data-dismiss="modal" href=""><i class="fas fa-times"></i></a>
                </div>
                <div class="modal-header">
                    <h3 class="box-title">{% translate 'Redeem Gift' %}</h3>
                    <div class="clear"></div>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="message text-center">{% translate 'You need (NbrCoins) coins to Redeem. Confirm to proceed?' %}</p>
                        </div>
                        <div class="col-md-12 text-center">
                            <button id="redeem-package-btn" class="btn2 big c2">
                                {% translate 'Confirm' %}
                            </button>
                            <button data-dismiss="modal" class="btn2 big">
                                {% translate 'Cancel' %}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="buy-coins-modal" class="modal fade">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="close-box">
                    <a data-dismiss="modal" href=""><i class="fas fa-times"></i></a>
                </div>
                <div class="modal-header">
                    <h3 class="box-title">{% translate 'Buy Coins' %}</h3>
                    <div class="clear"></div>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="message text-center" id="buy-coins-message"></p>
                        </div>
                        <div class="col-md-12 text-center">
                            <button id="buy-coins-btn" class="btn2 big c2">
                                {% translate 'Confirm' %}
                            </button>
                            <button data-dismiss="modal" class="btn2 big">
                                {% translate 'Cancel' %}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}