{% extends 'master.html' %}
{% load i18n %}
{% load static %}
{% load countries %}
{% load dict_key %}
{% load big_number %}
{% load call_method %}
{% load humanize %}

{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <link rel="stylesheet" href="{% static 'flags/sprite-hq.css' %}">
    <link rel="stylesheet" href="{% static 'css/paginate.css' %}">
    
{% endblock %}

{% block javascript %}

<script src="{% static 'js/paginate.js' %}"></script>
    <script src="{% static 'js/pages/profile.js' %}"></script>
{% endblock %}

{% block top_section %}
    <script>
        var user_coins = {{ user.coins }};
        var user_uid = '{{ user.uid }}'
    </script>
    <section class="p-head"
             style="background-image: url({% static "img/assets/profile-header.jpg" %})">
        <div class="new-profile">
            <div class="det-left">
                <img src="{{ user.profile_image }}" class="pro-img" alt="">
                <div class="img">
                    <span class="rank">{{ user.level|big_number }}</span>
                    {% if user.avatar %}
                        <img src="{{ user.avatar.image.url }}" alt="">
                    {% else %}
                        <img src="{% static 'img/profile.png' %}" alt="">
                    {% endif %}
                </div>

                <a href="#settings-modal" onclick="openEditProfileModal(event)"
                   class="edit-btn">
                    <img src="{% static 'img/pen.png' %}" alt="">
                </a>
            </div>
            <div class="det-middle">
                <div class="right">
                    <div class="top-right">
                        <div class="ll">
                            <div class="location">
                                {% with 'flags/'|add:user.country.code|add:'.png' as flag_static %}
                                    <img src="{% static flag_static %}"
                                         alt="country"
                                         style="width: 40px">
                                {% endwith %}
                            </div>
                            <div class="location-cont">
                                <span class="name">{{ user.nickname|upper }}</span>
                                <span>{{ user.country.name }}</span>
                            </div>
                        </div>
                        <div>
                            <a href="#settings"
                               data-id="#choice-5"
                               class="badge badge-pill settings-btn is-with-side-friends"
                               style="background: #A6076E;" >Settings</a>
                        </div>
                    </div>
                    <div class="det-right det-mobile"
                         style="display: none; justify-content: center">
                        <img src="{% static 'img/coins.png' %}"
                             height="80px"
                             style="margin-right: 15px;" alt="">
                        <div class="coins">
                            <span>{% translate 'Engage coins' %}</span>
                            <h3>{{ user.coins|intcomma }}</h3>
                            {#                            <a class="badge badge-pill redeem-btn"#}
                            {#                               href="#redeem-coins"#}
                            {#                               style="cursor: pointer"#}
                            {#                               data-toggle="modal"#}
                            {#                               data-target="#redeem-coins">Redeem#}
                            {#                                Coins</a>#}
                        </div>
                    </div>

                    <ul class="tabs">
                        <li><a href="#profile"
                               class="link-item is-with-side-friends active"
                               data-id="#choice-1">{% translate 'Profile' %}</a>
                        </li>
                        <li>
                            <a href="#friends" class="link-item"
                               data-id="#choice-2">{% translate 'Friends' %}
                            </a>
                        </li>
                        <li><a href="#tournaments"
                               class="link-item is-with-side-friends"
                               data-id="#choice-3">{% translate 'Tournaments' %}</a></li>
                        {% comment %} <li><a href="#missions" class="link-item"
                               data-id="#choice-4">{% translate 'Missions' %}</a></li> {% endcomment %}
                    </ul>
                </div>
            </div>
            <div class="det-right">
                <img src="{% static 'img/coins.png' %}" height="80px"
                     style="margin-right: 15px;" alt="">
                <div class="coins">
                    <span>{% translate 'Engage coins' %}</span>
                    <h3 class="user-coins">{{ user.coins|intcomma }}</h3>
                    {% comment %} <a class="badge badge-pill redeem-btn"
                       style="cursor: pointer" data-toggle="modal"
                       data-target="#redeem-coins">{% translate 'Redeem Coins' %}</a> {% endcomment %}
                       <a class="badge badge-pill redeem-btn"
                       style="cursor: pointer" href="/prizes#redeem-coins">{% translate 'Redeem Coins' %}</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}
    <div class="parent-page profile-parent-page with-side-friends expand-parent">
        <div class="topbg"></div>
        <section class="edit-profile page-tab-content p-content" id="choice-1">
            <div class="profile-contain summary">
                <div class="left">
                    <div class="row border-col">
                        <div class="col-md-6 expand-box last-played-games-box"
                             data-min-size="12">
                            <div class="card-wrapper">
                                <div class="title-wrapper type-2">
                                    <h3 class="box-title">{% translate 'Last Played Games' %}</h3>

                                    <a href="" data-target="last_played_games"
                                       class="link expand-link">{% translate 'View All' %}</a>
                                </div>
                                <div class="body-wrapper">
                                    <div class="imgs-box imgs-grid"
                                         data-scroll-max="3" data-scroll-min="3"
                                         data-scroll-child="a">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 expand-box joined-tournaments-box"
                             data-min-size="6">
                            <div class="card-wrapper">

                                <div class="title-wrapper type-2">
                                    <h3 class="box-title"> {% translate 'Joined tournaments' %}</h3>

                                    <a href="" data-target="joined_tournaments"
                                       class="link expand-link">{% translate 'View All' %}</a>
                                </div>
                                <div class="body-wrapper pt-0 pb-0">
                                    <ul class="newsbv joined-tournaments"
                                        data-scroll-max="4" data-scroll-min="4"
                                        data-scroll-child="li">
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 expand-box stickers-box"
                             data-min-size="12">
                            <div class="card-wrapper">
                                <div class="title-wrapper type-2 bg-2">
                                    <h3 class="box-title">Stickers</h3>

                                    <a href="" data-target="stickers"
                                       class="link expand-link">View All</a>
                                </div>
                                <div class="body-wrapper">
                                    <div class="imgs-box" data-scroll-max="3"
                                         data-scroll-min="2"
                                         data-scroll-child="a">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 expand-box trophies-box"
                             data-min-size="12">
                            <div class="card-wrapper">
                                <div class="title-wrapper type-2 bg-2">
                                    <h3 class="box-title">{% translate 'Trophies' %}</h3>

                                    <a href="" data-target="trophies"
                                       class="link expand-link">{% translate 'View All' %}</a>
                                </div>
                                <div class="body-wrapper">
                                    <div class="imgs-box" data-scroll-max="3"
                                         data-scroll-min="2"
                                         data-scroll-child="a">
                                        {% for trophy in user.trophies.all %}
                                            <a class="trophies"
                                               style="cursor: default">
                                                <img src="{{ trophy.image.url }}"
                                                     alt="{{ trophy.name }}">
                                            </a>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="friends-container page-tab-content p-content"
                 style="display: none;" id="choice-2">
            <div class="profile-contain profile-contain-friends"
                 style="flex-direction: column;">
                <div class="pagination-top">
                    <div><span>{% translate 'FRIENDS' %}</span>
                        <span
                                class="badge badge-pill"
                                id="friends-count">{{ user.friends.count }}</span>
                    </div>
                    <div id='demoB'></div>
                    <div>
                        <div class="search-box">
                            <i class="fas fa-search"></i>
                            <input type="text" id="friends-search-input"
                                   placeholder="{% translate 'Search users and friends' %}"/>
                        </div>
                    </div>
                    
                </div>
                <ul class="friends-list grid" id="friends-list">
                </ul>
            </div>
        </section>

        <section class="tournamet-container page-tab-content p-content"
                 style="display: none;" id="choice-3">
            <div class="profile-contain">
                <div class="left">
                    <div class="row">
                        <div class="col-md-6 expand-box">
                            <div class="title-wrapper type-2  ">
                                <h3 class="box-title">{% translate 'Upcoming tournaments' %}</h3>
                                <a href="" class="link expand-link">{% translate 'View All' %}</a>
                            </div>
                            {% comment %} <ul class="min-tabs">
                                <li>
                                    <a href="#suggested"
                                       onclick="return getUpcomingTournaments(user_uid,'suggested', '#upcoming-tournaments-list', this)"
                                       title="Suggested">{% translate 'Suggested' %}</a>

                                </li>
                                <span style="color: #fff">| </span>

                                <li>
                                    <a href="#trending"
                                       onclick="return getUpcomingTournaments(user_uid,'trending', '#upcoming-tournaments-list', this)"
                                       title="Trending">{% translate 'Trending' %}</a>

                                </li>
                                <span style="color: #fff">| </span>

                                <li>
                                    <a href="#popular"
                                       onclick="return getUpcomingTournaments(user_uid,'popular', '#upcoming-tournaments-list', this)"
                                       title="Popular">{% translate 'Popular' %}</a>

                                </li>
                            </ul> {% endcomment %}
                            <div class="body-wrapper pt-0" data-scroll-max="5"
                                 data-scroll-min="5" data-scroll-child="li"
                                 data-scroll-add="0">
                                <ul class="newsbv upcoming-tournaments"
                                    id="upcoming-tournaments-list">
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 expand-box">
                            <div class="title-wrapper type-2">
                                <h3 class="box-title"> {% translate 'Played tournaments' %}</h3>

                                <a href="" class="link expand-link">{% translate 'View All' %}</a>
                            </div>
                            <div class="body-wrapper pt-0">
                                <ul class="newsbv played-tournaments">
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="page-tab-content missions-section"
                 style="display: none;" id="choice-4">
                
            <div class="missions-container">
                <div class="h-header" style="min-height: 40px">
                    <h3 class="modal-h3-head">
                        {% if battle_pass.icon %}
                            <img src="{{ battle_pass.icon.url }}" height="40"
                                 alt="">
                        {% endif %}
                        {{ battle_pass.name }}
                    </h3>
                </div>

                <div class="status-box d-flex">
                    <div class="profile-box">
                        <div class="name-box">
                            <div class="top">
                                <span class="name">{{ user.nickname|upper }}</span>
                            </div>
                            <div class="bottom">
                                {% if is_battlepass_vip %}
                                    <span class="badge-name vip-tag">VIP</span>
                                {% else %}
                                    <img src="{% static 'img/lock-3.png' %}"
                                         alt="">
                                    <a href="#unlock-vip"
                                       class="name"
                                       data-toggle="modal"
                                       data-target="#unlock-vip"
                                    >{% translate 'Unlock VIP' %}</a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="content">
                            <div class="points d-flex align-items-center">
                                <img src="{% static 'img/coin.png' %}" alt="">
                                <span>{% translate 'Activity Points' %}: {{ activity_points|floatformat:"-2" }}</span>
                            </div>
                            <div class="divider"></div>
                            <div class="timeline d-flex align-items-center">
                                <img src="{% static 'img/timer.png' %}" alt="">
                                <span><span class="timer full-timer"
                                            data-date="{{ battle_pass.ends_at|date:'b d, Y 23:59:00' }}">Loading...</span></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="timeline-box" style="max-width:650px;">
                    <div class="status-bar"><span style="width: 0%;"></span>
                    </div>

                    <div class="layer-1">
                        <div class=""></div>
                        <div></div>
                        <div class=""></div>
                        <div class=""></div>
                        <div></div>
                        <div class=""></div>
                        <div class=""></div>
                        <div></div>
                        <div class=""></div>
                        <div></div>
                    </div>

                    <div class="layer-2">
                        <div>
                            <img src="{% static 'img/arrow2.png' %}" alt=""
                                 class="sm-img">
                        </div>
                        {% for level in max_battlepass_level %}
                            {% if battle_pass_levels|dict_key:level %}
                                <div class="has-modal">
                                    <img src="{% static 'img/lock-2.png' %}"
                                         alt=""
                                         class="sm-img">
                                    <img src="{% static 'img/treasure.png' %}"
                                         alt="" class="big-img">
                                    <div class="drop-modal">
                                        <h1>{% translate 'Buy This Stage and get the following:' %}</h1>
                                        {% with bp_level=battle_pass_levels|dict_key:level %}
                                            <ul>
                                                <li><a href="">{% translate 'Free Movie' %}</a>
                                                </li>
                                                {% if bp_level.free_coins %}
                                                    <li>
                                                        <a href="">{{ bp_level.free_coins }}
                                                            {% translate 'Coins' %}</a>
                                                    </li>
                                                {% endif %}

                                                {% if bp_level.free_data %}
                                                    <li>
                                                        <a href="">{{ bp_level.free_data }}
                                                            {% translate 'GB' %}</a>
                                                    </li>
                                                {% endif %}
                                            </ul>
                                        {% endwith %}
                                        <div class="button-container">
                                            <a href="">{% translate 'SKIP' %}</a>
                                            <a href="">{% translate 'PURCHASE' %}</a>
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                <div>
                                    <img src="{% static 'img/coin.png' %}"
                                         alt=""
                                         class="sm-img">
                                </div>
                            {% endif %}
                        {% endfor %}

                    </div>
                </div>

                <div class="timeline-modals-box">

                </div>

                <div class="games-list">
                    <ul>
                        {% for mission in missions %}
                            {% call_method mission 'total_points' user as mission_points %}

                            <li>
                                <div class="left">
                                    <img src="{{ mission.image.url }}"
                                         alt="">
                                </div>

                                <div class="middle">
                                    <span class="name">{{ mission.name }}</span>
                                    <div class="progress-box">
                                        <span style="width: 50%;"
                                              class="progress-bar"></span>
                                        <div class="content">
                                            <img height="25"
                                                 src="{% static 'img/coin.png' %}"
                                                 alt="">
                                            <span>{{ mission_points }} {% translate 'Points' %}</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="right">
                                    <div class="timer-coins-box">
                                        <div class="mobile-coins">
                                            <img height="25"
                                                 src="{% static 'img/coin.png' %}"
                                                 alt="">
                                            <span>{{ mission_points }} {% translate 'Points' %}</span>
                                        </div>
                                        <div class="timer-box">
                                            {% if mission.is_completed %}
                                                <span>{% translate 'Done' %}</span>
                                            {% else %}
                                            <img src="{% static 'img/timer.png' %}"
                                                 height="25" alt="">
                                                <span class="timer"
                                                      data-date="{{ mission.active_till }}">Loading...</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                    {% if forloop.first %}
                                        {% if not mission.is_completed %}
                                            <a href="{{ mission.go_link }}">Go</a>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <script>
               

                function updateProgressBar() {
                    const player_points = {{ activity_points }};
                    {% if battle_pass %}
                        const level_points = {{ battle_pass.coins_per_level}};
                        var max_level = {{ battle_pass.max_level}};
                    {% else %}    
                        const level_points = 0;
                        var max_level = 0;
                    {% endif %}
                    var status_bar_w = 0;
                    

                    var childs = $(".layer-2 > div");
                    for (let i = 0; i < childs.length; i++) {
                        const ch = $(childs[i]);
                        status_bar_w += ch.outerWidth() + 2.5;
                    }

                    var progress = (player_points / (level_points * max_level)) * 100;
                    progress = Math.round(progress);
                    $(".status-bar").css("width", status_bar_w + "px");
                    $(".status-bar span").css("width", progress + "%");
                }

                $(window).on("resize", function () {
                    updateProgressBar();
                })
                updateProgressBar();
            </script>
        </section>

        <section class="settings-container page-tab-content p-content"
                 style="display: none;" id="choice-5">
            <div class="profile-contain">
                <div class="left">
                    <div class="title-wrapper big text-center type-2">
                        <h3 class="box-title">{% translate 'Settings' %}</h3>
                    </div>
                    <br><br>
                    <div class="text-center">
                        <ul class="settings-links-list">
                            <li><a href="#settings-modal"
                                   onclick="openEditProfileModal(event)">{% translate 'Edit Profile' %}</a></li>
                            <li><a href="">{% translate 'Upgrade Membership' %}</a></li>
                            <li>
                                <hr>
                            </li>
                            <li><a data-toggle="modal"
                                   data-target="#share-modal"
                                   href="#share-engage">{% translate 'Share Engage' %}</a></li>
                            <li>
                                <hr>
                            </li>
                            <li><a data-toggle="modal"
                                data-target="#about-modal">{% translate 'About' %}</a></li>
                            <li><a data-toggle="modal"
                                data-target="#faq-modal">{% translate 'FAQs' %}</a></li>
                            <li><a data-toggle="modal"
                                   data-target="#support-modal"
                                   href="#support-modal">{% translate 'Contact Support' %}</a>
                            </li>
                            <li>
                                <hr>
                            </li>
                            <li><a data-toggle="modal"
                                data-target="#terms-modal">{% translate 'Terms & Conditions' %}</a></li>
                            <li><a data-toggle="modal"
                                data-target="#privacy-modal">{% translate 'Privacy Policy' %}</a>
                            </li>
                            <li><a data-toggle="modal"
                                data-target="#disclaimer-modal">{% translate 'Disclaimer' %}</a>
                            </li>
                            <li>
                                <hr>
                            </li>
                            <li><a  class='logout' style='cursor:pointer' onclick=fn_logout("{% url 'logout' %}")>{% translate 'Logout' %}</a></li>
                            
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <section class="side-friends">
            <div class="x-header">
                {% if user.friends.count > 0 %}
                <a href="#friends">
                    {% translate 'View All' %}
                </a>
                {% endif %}    
            </div>
            <ul class="friends-list">
                {% if user.friends.count > 0 %}
                    {% for friend in user.friends %}
                        {% call_method friend 'other' user as other %}
                        <li>
                            <a href="/profile/{{ other.uid }}" class="left">
                                <img src="{{ other.profile_image }}"
                                    class="pro-img" alt="">
                                <div class="img">
                                    <span class="rank">{{ other.level|big_number }}</span>
                                    {% if other.avatar %}
                                        <img src="{{ other.avatar.image.url }}"
                                            alt="">
                                    {% else %}
                                        <img src="{% static 'img/profile.png' %}"
                                            alt="">
                                    {% endif %}
                                </div>
                                <div class="content">
                                    <span class="name">{{ other.nickname }}</span>
                                    <div class="location">
                                        {% with 'flags/'|add:other.country.code|add:'.png' as flag_static %}
                                            <img src="{% static flag_static %}"
                                                alt="country"
                                                style="width: 25px">
                                        {% endwith %}
                                        <span>{{ other.country.name }}</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                    {% endfor %}
                {% else %}
                    <li>{% translate 'No friends found' %}</li>
                {% endif %}    
            </ul>
        </section>

    </div>
{% endblock %}


{% block modals %}
    {{ block.super }}
    <div id="unlock-vip" class="modal fade">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="box-title">{% translate 'Unlock VIP' %}</h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="text-center">{% translate 'Are you sure you want to unlock VIP access to the battlepass?' %}</p>
                            <p class="text-center">It will cost you {{ user.region.default_currency}}{{ battle_pass.unlock_vip_cost }}.</p>
                        </div>
                        <div class="col-md-12 text-center">
                            <button id="unlock-vip-btn" class="btn2 big c2">
                                {% translate 'Confirm' %}
                            </button>
                            <button data-dismiss="modal" class="btn2 big">
                                {% translate 'Cancel' %}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="redeem-coins" class="modal fade">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="close-box">
                    <a data-dismiss="modal" href=""><i class="fas fa-times"></i></a>
                </div>
                <div class="modal-header">
                    <h3>{% translate 'Redeem Coins' %}</h3>
                </div>
                <h4 class="sub-title">{% translate 'Select a Package' %}</h4>
                <div class="modal-body">
                    <div class="redeem-packages">
                        {% for redeem_package in redeem_packages %}
                            <a href="" class="pack">
                                <img src="{{ redeem_package.image.url }}"
                                     alt="">
                                <div class="content">
                                </div>
                            </a>
                        {% endfor %}
                    </div>

                    <div class="redeem-table">
                        <table>
                            <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th class="bonus-th">{% translate 'Bonus' %}</th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for purchase_coin in purchase_coins %}
                                <tr>
                                    <td class="fit">
                                        <img src="{{ purchase_coin.icon.url }}"
                                             alt="">
                                    </td>
                                    <td>{{ purchase_coin.coins|intcomma }}</td>
                                    <td class="c1 min-50">+</td>
                                    <td class="b-item">{{ purchase_coin.bonus }}%</td>
                                    <td class="c1 min-50">=</td>
                                    <td style="text-align: center;"><img
                                            src="{% static 'img/coin.png' %}"
                                            height="32"
                                            alt="">&nbsp;{{ purchase_coin.total|intcomma }}
                                    </td>
                                    <td>
                                        <a class="get-btn" href="">
                                            <span>{% translate 'BUY NOW' %}</span>
                                            <span>{{ purchase_coin.operator.region.default_currency }}{{ purchase_coin.price }}</span>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="send-coins" class="modal fade">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="close-box">
                    <a data-dismiss="modal" href=""><i class="fas fa-times"></i></a>
                </div>
                <div class="modal-header">
                    <h3>{% translate 'Send Coins' %}</h3>
                </div>
                <div class="modal-body">
                    <form id="send-coins-form" method="post">
                        {% csrf_token %}
                        <div class="sub-title text-center mb-2 mt-2"><b>{% translate 'Enter Amount' %}</b></div>
                        <input type="text" name="friend" hidden>
                        <div class="input-number-box">
                            <span class="input-number-decrement">–</span>
                            <input class="input-number" name="amount"
                                   type="text" value="1" min="1" step="1"
                                   oninput="positiveNumber(this)" required>
                            <span class="input-number-increment">+</span>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn3 mt-2">{% translate 'SEND' %}
                            </button>
                        </div>
                        <div class=" text-center text-color-4-light font-weight-bold"
                             style="font-size: .9rem; color: red">
                            <span class="response-msg"></span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="share-modal" class="modal fade">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="close-box">
                    <a data-dismiss="modal" href=""><i class="fas fa-times"></i></a>
                </div>
                <div class="modal-header">
                    <h3>{% translate 'Share Engage' %}</h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <input type="text" class="input1 share-link-input"
                                   value="https://dev.engageplaywin.com/?referrer={{ user.uid }}"
                                   readonly>
                            <div class="text-right">
                                <button onclick="copyToClipboard($('.share-link-input').val()); $(this).html('COPIED')"
                                        class="btn3">
                                    {% translate 'COPY' %}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="remove-friend-modal" class="modal fade">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="box-title">{% translate 'Alert' %}</h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="text-center">{% translate 'Are you sure you want to remove this friend?' %}</p>
                        </div>
                        <div class="col-md-12 text-center">
                            <button id="remove-friend-btn" class="btn2 big c2">
                                {% translate 'Confirm' %}
                            </button>
                            <button data-dismiss="modal" class="btn2 big">
                                {% translate 'Cancel' %}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}