{% extends 'master.html' %}
{% load static %}
{% load countries %}
{% load big_number %}
{% load call_method %}


{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <link rel="stylesheet" href="{% static 'flags/sprite-hq.css' %}">
{% endblock %}

{% block javascript %}
    <script src="{% static 'js/pages/public_profile.js' %}"></script>
{% endblock %}

{% block top_section %}
    <script>
        var require_edit_modal = false;
        var user_uid = '{{ selected_user.uid }}'
    </script>
    <section class="p-head public-profile"
             style="background-image: url({% static "img/assets/profile-header.jpg" %})">
        <div class="new-profile">
            <div class="det-left">
                <img src="{{ selected_user.profile_image }}" class="pro-img" alt="">
                <div class="img">
                    <span class="rank">{{ selected_user.level|big_number }}</span>
                    {% if user.avatar %}
                        <img src="{{ selected_user.avatar.image.url }}" alt="">
                    {% else %}
                        <img src="{% static 'img/profile.png' %}" alt="">
                    {% endif %}
                </div>
            </div>
            <div class="det-middle">
                <div class="right">
                    <div class="top-right">
                        <div class="ll">
                            <div class="location">
                                {% with 'flags/'|add:selected_user.country.code|add:'.png' as flag_static %}
                                    <img src="{% static flag_static %}"
                                         alt="country"
                                         style="width: 40px">
                                {% endwith %}
                            </div>
                            <div class="location-cont">
                                <span class="name">{{ selected_user.nickname|upper }}</span>
                                <span>{{ selected_user.country.name }}</span>
                            </div>
                        </div>
                        {% if user.is_authenticated and friend_status == 'accepted' %}
                            <div>
                                <a href="#remove-friend-modal" data-toggle="modal"
                                   data-target="#remove-friend-modal"
                                   class="badge badge-pill"
                                   style="background: #A6076E;" id="remove-friend-public">Remove Friend</a>
                            </div>
                        {% elif user.is_authenticated and friend_status == 'pending' %}
                            <div>
                                <a class="badge badge-pill"
                                   style="background: #5cb85c; pointer-events: none">
                                    Friend Request Sent
                                </a>
                            </div>
                        {% else %}
                           {% if  user.is_authenticated %}
                                <div>
                                    <a href="#add-friend-modal" data-toggle="modal"
                                    data-target="#add-friend-modal"
                                    class="badge badge-pill"
                                    style="background: #A6076E;" id="add-friend-button">Add Friend</a>
                                </div>
                           {% endif %}    
                        {% endif %}
                    </div>

                    <ul class="tabs three-btns">
                        <li><a href="#profile" class="link-item is-with-side-friends active"
                               data-id="#choice-1">Profile</a></li>
                        <li><a href="#friends" class="link-item" data-id="#choice-2">Friends</a>
                        </li>
                        <li><a href="#tournaments" class="link-item is-with-side-friends"
                               data-id="#choice-3">Tournaments</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}
    <div class="parent-page profile-parent-page expand-parent">
        <section class="edit-profile page-tab-content p-content" id="choice-1">
            <div class="profile-contain summary">
                <div class="left">
                    <div class="row border-col">
                        <div class="col-md-6 expand-box last-played-games-box" data-min-size="12">
                            <div class="card-wrapper">
                                <div class="title-wrapper type-2">
                                    <h3 class="box-title">Last Played
                                        Games</h3>
                                    <div class="clear"></div>
                                    <a href="" data-target="last_played_games" class="link expand-link">View All</a>
                                </div>
                                <div class="body-wrapper">
                                    <div class="imgs-box imgs-grid" data-scroll-max="3" data-scroll-child="a">
                                        {% comment %}
                                        {% for played_game in user.usergameplayed_set.all %}
                                            <a href="" class="game html5-game" data-target="{{ played_game.game.game }}">
                                                <img src="{{ played_game.game.image.url }}"
                                                     alt="{{ played_game.game.game }}">
                                            </a>
                                        {% endfor %}
                                        {% endcomment %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 expand-box joined-tournaments-box" data-min-size="3">
                            <div class="card-wrapper">

                                <div class="title-wrapper type-2">
                                    <h3 class="box-title"> Joined
                                        tournaments</h3>
                                    <div class="clear"></div>
                                    <a href="" data-target="joined_tournaments" class="link expand-link">View All</a>
                                </div>
                                <div class="body-wrapper pt-0">
                                    <div class="block_tabs">
                                        <ul class="newsbv joined-tournaments" data-scroll-max="3" data-scroll-child="li">
                                            {% comment %}
                                            {% for tournament in joined %}
                                                <li class="newsbv-item type-2">
                                                    <div class="newsb-thumbnail">
                                                        <a href="">
                                                            <img src="{{ tournament.image.url }}"
                                                                 alt="{{ tournament.slug }}">
                                                            <span class="overlay-link"></span>
                                                        </a>
                                                    </div>

                                                    <div class="newsb-text">
                                                        <h4 class="newsb-title">
                                                            <a href="{% url 'tournament-page' tournament.slug %}">{{ tournament.name }}</a>
                                                        </h4>

                                                        <div class="post-meta">
                                                            <div class="content">
                                                                <div>
                                                                    <img src="{% static 'img/user.png' %}"
                                                                         height="18"
                                                                         alt="">
                                                                    <span>{{ tournament.tournamentparticipant_set.count }}</span>
                                                                </div>
                                                                <div>
                                                                    <img src="{% static 'img/cal.png' %}"
                                                                         height="18"
                                                                         alt="">
                                                                    <span> {{ tournament.start_date|date:"d M Y" }}<br>{{ tournament.start_date|time:"h:i a" }}</span>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="text-right">
                                                            <a href="{% url 'tournament-page' tournament.slug %}"
                                                               class="btn2">VIEW</a>
                                                        </div>
                                                    </div>
                                                </li>
                                            {% endfor %}
                                            {% endcomment %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 expand-box stickers-box" data-min-size="12">
                            <div class="card-wrapper">
                                <div class="title-wrapper type-2 bg-2">
                                    <h3 class="box-title">Stickers</h3>
                                    <div class="clear"></div>
                                    <a href="" data-target="stickers" class="link expand-link">View All</a>
                                </div>
                                <div class="body-wrapper">
                                    <div class="imgs-box" data-scroll-max="3" data-scroll-child="a">
                                        {% comment %}
                                        {% for sticker in user.stickers.all %}
                                            <a class="stickers" style="cursor: default">
                                                <img src="{{ sticker.image.url }}"
                                                     alt="{{ sticker.name }}">
                                            </a>
                                        {% endfor %}
                                        {% endcomment %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 expand-box trophies-box" data-min-size="12">
                            <div class="card-wrapper">
                                <div class="title-wrapper type-2 bg-2">
                                    <h3 class="box-title">Trophies</h3>
                                    <div class="clear"></div>
                                    <a href="" data-target="trophies" class="link expand-link">View All</a>
                                </div>
                                <div class="body-wrapper">
                                    <div class="imgs-box">
                                        {% for trophy in selected_user.trophies.all %}
                                            <a class="trophies" style="cursor: default">
                                                <img src="{{ trophy.image.url }}"
                                                     alt="{{ trophy.name }}">
                                            </a>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="friends-container page-tab-content p-content"
                 style="display: none;" id="choice-2">
            <div class="profile-contain profile-contain-friends" style="flex-direction: column;">
                <div class="pagination-top">
                    <div>FRIENDS<span
                            class="badge badge-pill">{{ selected_user.friends.count }}</span>
                    </div>
                    <div>
                        <div class="search-box">
                            <i class="fas fa-search"></i>
                            <input type="text" id="friends-search-input"
                                   placeholder="Search users and friends"/>
                        </div>
                    </div>
                </div>
                <ul class="friends-list grid" id="friends-list">
                    {% for friend in selected_user.friends %}
                        {% call_method friend 'other' selected_user as other %}
                        <li>
                            <div class="left">
                                <img src="{{ other.profile_image }}"
                                     class="pro-img" alt="">
                                <div class="img">
                                    <span class="rank">{{ other.level|big_number }}</span>
                                    {% if other.avatar %}
                                        <img src="{{ other.avatar.image.url }}"
                                             alt="">
                                    {% else %}
                                        <img src="{% static 'img/profile.png' %}"
                                             alt="">
                                    {% endif %}
                                </div>
                            </div>

                            <div class="right2">
                                <div class="ll">
                                    <div class="location">
                                        {% with 'flags/'|add:other.country.code|add:'.png' as flag_static %}
                                            <img src="{% static flag_static %}"
                                                 alt="country"
                                                 style="width: 40px">
                                        {% endwith %}
                                    </div>
                                    <div class="location-cont">
                                        <span class="name">{{ other.nickname }}</span>
                                        <span>{{ other.country.name }}</span>
                                    </div>
                                </div>
                                <div class="btns">
                                    <a href='{% url 'public-profile' other.uid %}'
                                       class="btn2 flat">Check
                                        Profile
                                    </a>
                                    &nbsp;
                                </div>
                            </div>
                        </li>
                    {% empty %}
                        <div class="no-data-found"
                             style="min-height: 200px"></div>
                    {% endfor %}
                </ul>
            </div>
        </section>

        <section class="tournamet-container page-tab-content p-content expand-parent"
                 style="display: none;" id="choice-3">
            <div class="profile-contain public-profile">
                <div class="left">
                    <div class="row">
                        <div class="col-md-6 expand-box">
                            <div class="title-wrapper type-2  ">
                                <h3 class="box-title"> Upcoming
                                    tournaments</h3>
                                    
                                
                                <a href="" class="link expand-link">View All</a>
                            </div>
                                   {% comment %} <ul class="min-tabs">
                                <li>
                                    <a href="#suggested"
                                       onclick="return getUpcomingTournaments(user_uid,'suggested', '#upcoming-tournaments-list', this)"
                                       title="Suggested">{% translate 'Suggested' %}</a>

                                </li>
                                <span style="color: #fff">| </span>

                                <li>
                                    <a href="#trending"
                                       onclick="return getUpcomingTournaments(user_uid,'trending', '#upcoming-tournaments-list', this)"
                                       title="Trending">{% translate 'Trending' %}</a>

                                </li>
                                <span style="color: #fff">| </span>

                                <li>
                                    <a href="#popular"
                                       onclick="return getUpcomingTournaments(user_uid,'popular', '#upcoming-tournaments-list', this)"
                                       title="Popular">{% translate 'Popular' %}</a>

                                </li>
                            </ul> {% endcomment %}
                            <div class="body-wrapper pt-0" data-scroll-max="5" data-scroll-min="5" data-scroll-child="li" data-scroll-add="0">
                                <ul class="newsbv upcoming-tournaments" id="upcoming-tournaments-list">
                                    {% comment %}
                                    {% for tournament in upcoming %}
                                        <li class="newsbv-item type-2">
                                            <div class="newsb-thumbnail">
                                                <a href="">
                                                    <img src="{{ tournament.image.url }}"
                                                         alt="{{ tournament.slug }}">
                                                    <span class="overlay-link"></span>
                                                </a>
                                            </div>

                                            <div class="newsb-text">
                                                <h4 class="newsb-title">
                                                    <a href="{% url 'tournament-page' tournament.slug %}">{{ tournament.name }}</a>
                                                </h4>

                                                <div class="post-meta">
                                                    <div class="content">
                                                        <div>
                                                            <img src="{% static 'img/user.png' %}"
                                                                 height="18"
                                                                 alt="">
                                                            <span>{{ tournament.tournamentparticipant_set.count }}</span>
                                                        </div>
                                                        <div>
                                                            <img src="{% static 'img/cal.png' %}"
                                                                 height="18"
                                                                 alt="">
                                                            <span> {{ tournament.start_date|date:"d M Y" }}<br>{{ tournament.start_date|time:"h:i a" }}</span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="text-right">
                                                    <a href="{% url 'tournament-page' tournament.slug %}"
                                                       class="btn2">View</a>
                                                </div>
                                            </div>
                                        </li>
                                    {% endfor %}
                                    {% endcomment %}
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 expand-box">
                            <div class="card-wrapper">

                                <div class="title-wrapper type-2">
                                    <h3 class="box-title"> Played
                                        tournaments</h3>
                                    <div class="clear"></div>
                                    <a href="" class="link expand-link">View All</a>
                                </div>
                                <div class="body-wrapper pt-0">
                                    <ul class="newsbv played-tournaments" data-scroll-max="5" data-scroll-child="li">
                                        {% for tournament in past %}
                                            <li class="newsbv-item type-2">
                                                <div class="newsb-thumbnail">
                                                    <a href="">
                                                        <img src="{{ tournament.image.url }}"
                                                            alt="{{ tournament.slug }}">
                                                        <span class="overlay-link"></span>
                                                    </a>
                                                </div>

                                                <div class="newsb-text">
                                                    <h4 class="newsb-title">
                                                        <a href="{% url 'tournament-page' tournament.slug %}">{{ tournament.name }}</a>
                                                    </h4>

                                                    <div class="post-meta">
                                                        <div class="content">
                                                            <div>
                                                                <img src="{% static 'img/user.png' %}"
                                                                    height="18"
                                                                    alt="">
                                                                <span>{{ tournament.current_participants }}</span>
                                                            </div>
                                                            <div>
                                                                <img src="{% static 'img/cal.png' %}"
                                                                    height="18"
                                                                    alt="">
                                                                <span> {{ tournament.start_date|date:"d M Y" }}<br>{{ tournament.start_date|time:"h:i a" }}</span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="text-right">
                                                        <a href="{% url 'tournament-page' tournament.slug %}"
                                                        class="btn2">Register</a>
                                                    </div>
                                                </div>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block modals %}
    {{ block.super }}
    <div id="add-friend-modal" class="modal fade">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="box-title">Alert</h3>
                    <div class="clear"></div>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="text-center">Are you sure you want to send this user a friend request?</p>
                        </div>
                        <div class="col-md-12 text-center">
                            <button id="add-new-friend" class="btn2 big c2">Confirm</button>
                            <button data-dismiss="modal" class="btn2 big">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="remove-friend-modal" class="modal fade">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="box-title">Alert</h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="text-center">Are you sure you want to
                                remove this friend?</p>
                        </div>
                        <div class="col-md-12 text-center">
                            <button id="remove-friend-button" class="btn2 big c2">
                                Confirm
                            </button>
                            <button data-dismiss="modal" class="btn2 big">
                                Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}