@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600;700&display=swap");
#open-left {
  background: none;
  border: none;
  width: 40px;
  height: 100%;
  position: absolute;
  left: 3%;
  top: 0;
  display: none;
}

#open-left img {
  width: 100%;
  height: 100%;
}

.sidebar {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 11500;
  max-width: 300px;
  background: #080E14;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 10px 0 30px rgba(0, 0, 0, 0.15);
          box-shadow: 10px 0 30px rgba(0, 0, 0, 0.15);
  -webkit-transform: translateX(-120%);
          transform: translateX(-120%);
  -webkit-transition: all 0.3s cubic-bezier(0.35, 0.38, 0.07, 0.83);
  transition: all 0.3s cubic-bezier(0.35, 0.38, 0.07, 0.83);
  overflow: auto;
}

.sidebar .search-nav {
  margin: 10px 15px;
}

.sidebar .search-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 10px auto;
  border-top: 1px solid rgba(0, 0, 0, 0.07);
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}

.sidebar .search-box input {
  width: 100%;
  border: none;
  background: none;
  padding: 13px 20px;
}

.sidebar .search-box button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2px 15px;
}

.sidebar .search-box button img {
  height: 30px;
}

.sidebar a {
  color: #fff;
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  display: block;
  font-size: 16px;
}

.sidebar a:hover {
  text-decoration: none;
}

.sidebar a img {
  width: 24px;
  vertical-align: middle;
  margin-right: 7px;
}

.sidebar hr {
  opacity: 0.2;
}

.sidebar h3 {
  font-weight: normal;
  font-size: 18px;
  padding-left: 15px;
  margin-bottom: 5px;
}

.sidebar .main {
  width: 100%;
  max-width: 728px;
  margin: 0 auto;
  text-align: center;
}

.sidebar li {
  cursor: pointer;
}

.sidebar .close .btn-close {
  float: right;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #f00;
  font-size: 15px;
}

.sidebar .sidebar-brand img {
  display: block;
  margin: 20px auto;
  width: 85%;
}

.sidebar .sidebar-brand h2 {
  text-align: center;
  margin-bottom: 0;
  font-family: 'ubuntu';
}

.sidebar .sidebar-brand p {
  margin: 0;
  font-size: 14px;
  color: var(--c2);
  text-align: center;
}

.sidebar .content {
  line-height: 1.5;
  font-size: 0.875em;
}

.sidebar .content ul.s-menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar .content ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar .content ul.sub-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  background: #f5f5f5;
  -webkit-transform-origin: top;
          transform-origin: top;
  overflow: hidden;
  display: none;
}

.sidebar .content ul.sub-menu a {
  padding-left: 1.5rem;
}

.sidebar .content ul.sub-menu.sub-sub-menu {
  background: #f7f7f7;
}

.sidebar .content ul.sub-menu.sub-sub-menu a {
  padding-left: 2.5rem;
  color: #f5f5f5 !important;
}

.sidebar .sc-circle {
  background: #fff;
  border-radius: 50px;
  padding: 5px;
  width: 24px;
  height: 24px;
  text-align: center;
  font-weight: normal !important;
  font-size: 20px;
}

.sidebar ul li a.sc-twt {
  color: #38A1F3;
}

.sidebar ul li a.sc-fb {
  color: #3b5998;
}

.sidebar ul li a.sc-insta {
  color: #C13584;
}

.sidebar.right {
  left: initial;
  right: 0;
  -webkit-box-shadow: -10px 0 30px rgba(0, 0, 0, 0.15);
          box-shadow: -10px 0 30px rgba(0, 0, 0, 0.15);
  -webkit-transform: translateX(120%);
          transform: translateX(120%);
}

.sidebar.right .close .btn-close {
  float: left;
}

.sidebar.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  max-width: 280px;
}

.sidebar-sc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 20px;
}

.s-menu .active {
  color: #f9196d;
  background: rgba(249, 25, 109, 0.1);
  -webkit-border-end: 3px solid #f9196d;
          border-inline-end: 3px solid #f9196d;
}

.s-menu li {
  width: 100%;
  display: block;
  margin: auto;
}
